/* Styles for Where to Stay page */
.accommodation {
    padding: 20px;
}

.accommodation ul {
    list-style: disc;
    margin-left: 20px;
}

.link {
    --opacity: 0.25;
    text-underline-offset: 0.25em !important;
    color: #dc3545;
    text-decoration-color: rgba(220, 53, 69, var(--opacity))
}

.link:hover {
    --opacity: 1;
    color: #b02a37;
    text-decoration-color: rgba(176, 42, 55, var(--opacity))
}