* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
}

nav {
    background-color: #e0e0e0;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    border-bottom: 0.125rem solid transparent;
    padding-bottom: 0.5rem;
}

nav a:hover {
    color: #333;
    border-bottom-color: currentColor;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

.active {
    font-weight: 700;
    border-bottom-color: currentColor;
}

.link {
    --opacity: 0.25;
    text-underline-offset: 0.25em !important;
    color: #dc3545;
    text-decoration-color: rgba(220, 53, 69, var(--opacity))
}

.link:hover {
    --opacity: 1;
    color: #b02a37;
    text-decoration-color: rgba(176, 42, 55, var(--opacity))
}