.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.activity p {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 636px) {
    .activity {
        width: calc(33% - 20px);
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
}
